/.settings/*

/html-template/*
/bin-debug/*
/bin-release/*
/bin/*.cache
/bin/testing/*.cache
docs/*
obj/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project

Icon
Thumbs.db
.DS_Store
dist/*
report/*
doc/*

user.properties

*.iml
*.ipr
*.iws